<% form_for(@article) do |f| %>
  <%= f.error_messages %>
  <div class="article_edit">
    <span class="article_label">Title:</span><br />
    <%= f.text_field :title, :size => 42 %><br /><br />
    <span class="article_label">URL:</span><br />
    <%= f.text_field :url, :size => 42 %><br /><br />
    <span class="article_label">Description:</span><br />
    <%= f.text_area :description %><br /><br />

    <span class="article_label">Author:</span><br />
    <%= f.text_field :author %><br /><br />

    <span class="article_label">Source:</span><br />
    <%= f.text_field :source %><br /><br />

    <span class="article_label">Publication Date:</span><br />
    <%= f.text_field :publication_date %><br /><br />

    <span class="article_label">Approved:</span><br />
    <%= distance_of_time_in_words_to_now(@article.created_at).capitalize %> ago <br /> <br />
  </div>


  <%= f.submit "Update" %>
  <%= f.submit "Update and Post" %>
<% end %>
