<% form_for(@note) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :subject %>
    <br />
    <%= f.text_field :subject, :size => 42 %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :subject, :size => 42 %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :submitter %><br />
    <%= f.text_field :submitter, :size => 42 %>
  </p>
  <p>
    <%= f.label :created_at, "Submitted" %><br />
    <span class="immutable_info">
    <%= distance_of_time_in_words_to_now(@note.created_at).capitalize %> ago
    </span>
  </p>

  <% if !@note.is_read? %>
    <%= f.submit "Mark Read" %>
    <%= link_to "Cancel", notes_path %>
  <% else %>
    <p>
      <%= f.label :is_read %><br />
      <span class="immutable_info"><%= @note.is_read.capitalize %></span>
    </p>
    <%= link_to "Return to Notes", notes_path %>
  <% end %>
<% end %>
