<% form_for([:admin, @submission]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :url, 'URL' %>
    <span class="helptext">
    (link to the "Print" version of the article, if possible)
    </span>
    <br />
    <%= f.text_field :url, :size => 42 %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 42 %>
  </p>
  <p>
    <%= f.label :description, "Short Description" %>
    <span class="helptext">(100 words or less)</span><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :submitter, "Submitter" %><br />
    <%= f.text_field :submitter, :size => 42 %>
  </p>

  <p>
    <%= f.label :created_at, "Submitted" %><br />
    <span class="immutable_info">
    <%= distance_of_time_in_words_to_now(@submission.created_at).capitalize %> ago
    </span>
  </p>

  <% if @submission.status == 'undecided' %>
    <%= f.submit "Approve" %>
    <%= f.submit "Reject" %>
    <%= link_to "Cancel", submissions_path %>
  <% else %>
    <p>
      <%= f.label :status %><br />
      <span class="immutable_info"><%= @submission.status.capitalize %></span>
    </p>
    <%= link_to "Return to Submissions", admin_submissions_path %>
  <% end %>
<% end %>
