<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type"
        content="text/html;charset=UTF-8" />
  <title>theiropinion.org Admin</title>
  <%= stylesheet_link_tag 'articles' %>
  <%= javascript_include_tag 'instapaper/embed' %>
</head>
<body>
<div class="header">
  <div class="too_logo"
    onclick="location.href='<%= frontpage_admin_articles_path %>';"
    style="cursor:pointer;">
    their<em>opinion</em><span class="too_logo_dot">.</span>org/admin
  </div>
  <div class="toolbar">
    <%= link_to "submit", new_admin_submission_path %> |
    <%= link_to "all articles", admin_articles_path %> |
    <%= link_to "untriaged submissions", admin_submissions_path %> |
    <%= link_to "unposted articles", unposted_admin_articles_path %> |
    <%= link_to "unread notes", unread_admin_notes_path %> |
    <%= link_to "logout", logout_path %>
  </div>
</div>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

<div class="footer">
&copy; 2010 theiropinion.org
</div>

</body>
</html>
