<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type"
        content="text/html;charset=UTF-8" />
  <title>theiropinion.org</title>
  <%= stylesheet_link_tag 'articles' %>
  <%= javascript_include_tag 'instapaper/embed' %>
</head>
<body>
<div class="header">
  <div class="too_logo"
       onclick="location.href='<%= root_path %>';" style="cursor:pointer;" 
  >
    <span class="too_logo_faded">their</span>
    <span class="too_logo_emphasized">opinion</span>
    <span class="too_logo_dot">.</span>
    <span class="too_logo_faded">org</span>
  </div>
  <div class="toolbar">
    <%= link_to "submit", submit_path %> |
    <%= link_to "contact", contact_path %> |
    <%= link_to "about", about_path %>

  </div>
</div>
<p class="flash_notice"><%= flash[:notice] %></p>

<%= yield  %>

<div class="footer">
&copy; 2010 theiropinion.org
</div>

</body>
</html>
