<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type"
        content="text/html;charset=UTF-8" />
  <title>theiropinion.org</title>
  <%= stylesheet_link_tag 'articles' %>
  <%= javascript_include_tag 'instapaper/embed' %>
</head>
<body>
<div class="header">
  <%= link_to image_tag('too_large_logo.jpg'), frontpage_articles_path %>
  <div class="toolbar">
    <%= link_to "submit", new_submission_path %> |
    <%= link_to "articles", articles_path %> |
    <%= link_to "submissions", submissions_path %> |
    <%= link_to "unposted", unposted_articles_path %>
  </div>
</div>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

<div class="footer">
&copy; 2010 theiropinion.org
</div>

</body>
</html>
